
{%if basic_cart.notempty %}
<div class="basic_cart-cart-contents row"><div class="basic_cart-delete-image cell"><span class="basic_cart-delete-image-image">{{ basic_cart.delete_link }}</span></div><div class="basic_cart-cart-node-title cell">{{ basic_cart.title_link }}<br /></div><div class="cell basic_cart-cart-unit-price"><strong>{{ basic_cart.unit_price }}</strong></div><div class="basic_cart-cart-quantity cell"><div class="cell">
{%endif%}

  
