<div class="basic_cart-cart-total-price-contents row"><div class="basic_cart-total-price cell"> {{ basic_cart.total_price_label }} :<strong>{{ basic_cart.total_price }}</strong></div></div>
{%if basic_cart.vat_enabled %}
<div class="basic_cart-cart-total-vat-contents row">
<div class="basic_cart-total-vat cell">{{ basic_cart.total_vat_label }} : <strong>{{ basic_cart.vat_value }} </strong></div></div>
{% endif %}	

